<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar navbar-nav">
      <li >
        <button class="btn btn-sm btn-outline-info m-lg-1" (click)="OnGetAllProducts()">All</button>
      </li>
      <li >
        <button class="btn btn-sm btn-outline-info m-lg-1" (click)="OngetSelectedProducts()">Selected</button>
      </li>
      <li >
        <button class="btn btn-sm btn-outline-info m-lg-1" (click)="OngetAvailabeProducts()">Available</button>
    </li>
    </ul>
  </nav>
  <div class="container-sm" *ngIf="productsList">
    <div class="container">         
    <table class="table table-bordered">
      <thead>
        <tr>
          <th >Id</th>
          <th>Name</th>
          <th>Price</th>
          <th >Quantity</th>
          <th>Selected</th>
          <th>Available</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of productsList">
          <td>{{p._id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td>{{p.quantity}}</td>
          <td>{{p.selected }}</td>
          <td>{{p.availabe}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>